@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Poppins", sans-serif;
    font-palette: #845ec2
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
	overflow: hidden;
}

#book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.flipbook {
    width: 1000px;
    height: 600px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.flipbook .hard {
    background: #5a5a40 !important;
    color: #f2ede4;
    font-weight: bold;
    border: none; 
}

.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
}

.flipbook .page {
    background: #fdfcfb;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid #d1ccc0;
    text-align: center;
    color: #2d2d2a;
}

.page img{
	width: 70%;
	object-fit: cover;
	margin: auto;
}

.flipbook .page small{
	font-size: 14px;
    margin-bottom: 10px;
}

.flipbook .page h3 {
    margin-bottom: 15px;
    font-size: 1.8rem;
    color: #5a5a40;
    font-style: italic;
}

.flipbook .page h5, .flipbook .page h6 {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.6;
    color: #2d2d2a;
}
